.tg{
    width: 180px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}

.darkEL{
  background-color: hsl(209, 23%, 22%) !important; 
}

.darkBG{
  background-color: hsl(207, 26%, 17%) !important; 
}

.darkColor{
  color:hsl(0, 0%, 100%) !important; 
}

.shadow{
	box-shadow: 1px 0 6px 1px hsl(0deg 0% 13%) !important;
}

.border{
	border-color: hsl(0, 0%, 0%) !important
}

.option{
  background-color: hsl(209, 23%, 22%) !important; 
  color:hsl(0, 0%, 75%) !important; 
}

.visual-hidden{
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

@media screen and (max-width: 480px) {
  .tg{
    width: 150px;
  }
}