.cc{
    display: flex;
    flex: 21% 1;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 1px #000000; 
    box-shadow: 1px 1px 5px 1px #e9e9e9;
    margin: 20px;
    overflow: hidden;
}

.cc-img{
    width: 100%;
    height: 50%;
}

.cc-img-img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #e9e9e9; 
}

.cc-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 100%;
    height: 50%;
    padding: 5px 20px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    transition: 0.5s linear;
}

.cc-info li {
    padding: 5px 0;
}

.cc-title{
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 ;
}

.cc-moreInfo ul{
    text-decoration: none;
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    .cc{
        flex: 47%
    }
}